RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d

# ErrorDocument 404 /index.php
ErrorDocument 404 /index.php?pagina=site/404

RewriteRule ^listaAluno$     index.php?pagina=site/listaAluno
RewriteRule ^salvaAluno$     index.php?pagina=site/salvaAluno

RewriteRule ^salvaUsuario$   index.php?pagina=site/salvaUsuario
RewriteRule ^editaUsuario$   index.php?pagina=site/editaUsuario
RewriteRule ^listaUsuario$   index.php?pagina=site/listaUsuario


RewriteRule ^listaGrupo$     index.php?pagina=site/listaGrupo
RewriteRule ^salvaGrupo$     index.php?pagina=site/salvaGrupo
